<nav class="navbar navbar-toggleable-lg navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="['home']">Post Your Quote</a>
  </div>
  <button class="navbar-toggler" type="button" aria-controls="appNavigation" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link"  [routerLinkActive]="['active']" routerLink="" *ngFor="let section of navItems; let i = index;" (click)="navigate(i)">{{ section }}</a>
      <a class="nav-item nav-link"  routerLink="" (click)="authService.logOut()">Logout</a>
    </div>
  </div>
 
</nav>


<!-- For navbar: http://plnkr.co/edit/pfFt7y966Gah0ke83W3O?p=info -->