<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="DashboardProfileCard-avatarContainer">
      <div class="avatar">
        <div class="DashboardProfileCard-avatarImage">
          <i class="fa fa-camera"></i>
        </div>
      </div>
      <div class="DashboardProfileCard-userFields">
        <div class="username">{{ userName }}</div>
        <div class="email">{{ email }}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">

    <div class="row">

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 posts">
        Posts
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 following">
        Following
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 followers">
        Followers
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-text">
        {{ quotesCount }}
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-text">
        34
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-text">
        453
      </div>
    </div>
  </div>
  <!-- <div class="DashboardProfileCard-avatarContainer"><i class="fa fa-camera"></i></div> -->
</div>