section{
    margin-top: 10px;
    
}

app-post-dashboard{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 768px){

    .post {
        margin: 10px 0 0 15px;
    }
}

.sidebox,.post{
    height:fit-content;
}

.row:nth-child(2)> div:first-child{

    height:fit-content;
}

.container-fluid{
    margin-top: 60px;
}